* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fbf8f3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 3em;
    padding: 0;
}

li {
    list-style: none;
    /* top | right | bottom | left */
    padding: 30px 10px 30px 10px;
    display: inline;
    font-size: 1.3em;
    color: #5a5a5a;
    font-weight: 500;
}

li:nth-of-type(4) {
    padding-left: 1.4em;
    padding-right: 0;
}

.navbar h1 {
    font-size: 1.5em;
    font-style: italic;
    color: #3a85f5;
    font-weight: 700;
}

li button {
    background-color: #1da1f2;
    color: white;
    font-weight: 500;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}

.header {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 3.3em;
    /* margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px; */
    margin: 50px 150px;
}

.header:nth-of-type(1) {
    color: #5a5a5a;
}

.header h2 {
    color: black;
    font-size: 4em;
    font-weight: 700;
    padding-top: 2rem;
}

.header .hero-img {
    width: 90%;
}

.analytics-content {
    font-size: 1.3em;
}

.analytics-content button {
    background-color: #1da1f2;
    color: white;
    font-weight: 500;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}

.analytics-content a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 1em;
}

.analytics-images {
    padding-top: 2em;
    padding-bottom: 1em;
}

/* IMAGE STACKING CSS*/
.analytics-images img:nth-of-type(2) {
    position: relative;
    right: 25px;
}

.analytics-images img:nth-of-type(3) {
    position: relative;
    right: 45px;
}

.analytics-images img:nth-of-type(4) {
    position: relative;
    right: 65px;
}

.analytics-images img:nth-of-type(5) {
    position: relative;
    right: 85px;
}

.analytics-images img:nth-of-type(6) {
    position: relative;
    right: 105px;
}

.analytics-images img:nth-of-type(7) {
    position: relative;
    right: 125px;
}

.analytics-images img:nth-of-type(8) {
    position: relative;
    right: 145px;
}

.analytics-images img:nth-of-type(9) {
    position: relative;
    right: 165px;
}

.features {
    background-color: white;
}

.features>p {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0px 150px;
    padding: 3em 0 1em 0;
}

.features-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 150px 0px 150px;
    padding-bottom: 5em;
    gap: 3em;
}

.features-content img {
    max-width: 50px;
}

.features-content div {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 2em;
}

.features-content h4 {
    font-weight: bold;
    padding: 0.5em 0;
    color: black;
}

.features-content p {
    color: #747474;
    font-size: 1.2em;
}

/* REVIEWS SECTION */
.review-section {
    background-color: #d7f5f5;
}

.review-section h4 {
    margin: 0;
    padding: 50px 150px 50px 150px;
    font-size: 2.5em;
    font-weight: bold;
}

.review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 150px 4em 150px;
    gap: 1em;
    padding-top: 10px;
    background-color: #d7f5f5;
}

.review-1 {
    padding: 20px 30px;
    border-radius: 0.5em;
    background-color: white;
}

.split-1 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.split-1 img:nth-of-type(2) {
    /* width: 2em; */
    /* height: 100%; */
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 30px;
}

.split-1 img:nth-of-type(1) {

    width: 4em;
    height: 6em;
    margin: 0 auto;
}

.username p {
    margin: 0%;
    padding-bottom: 3px;
}

.username p:nth-of-type(1) {
    padding-top: 25px;
}

.review-content {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #747474;
}

/* SPLIT 2 */

.split-2 {
    display: grid;
    grid-template-columns: 10% 10% 80%;
    align-items: center;

}

.align-right {
    text-align: end;
}

.review .review-1:nth-of-type(1) {
    max-height: 280px;
}

.review .review-1:nth-of-type(3) {
    max-height: 280px;
}

.split-2 p {
    margin-bottom: 0;
}

.split-1 p:nth-of-type(2) {
    color: #747474;
}

/*--------------- Pricing PLAN-------------- */

.pricing {
    background-color: white;
    padding-bottom: 100px;
}

.pricing-plan {
    background-color: #fbf8f3;
    border: 1px solid red;
    max-width: 550px;
    margin: 0 auto;
    padding: 2em;
    border-radius: .5em;

}

.features-list li img {
    display: inline;
}

.features-list li p {
    display: inline;
    font-size: 18px;
    color: #747474;
}

.features-list li {
    display: block;
    padding: 15px 0 15px 0;
}

.pricing-plan .plan-header {
    font-size: 1.5em;
}

.pricing-header {
    padding: 100px 0 50px 0;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.pricing-header h4 {
    color: black;
    font-size: 2.5em;
    font-weight: 700;
}

.pricing-header p {
    color: #5a5a5a;
    font-size: 18px;
}

.plan-header p span {
    font-size: 2.5em;
    font-weight: 700;
}

.plan-header p {
    margin: 0;
}

.features-list {
    border-bottom: 1px solid #dcdbd9;
    border-top: 1px solid #dcdbd9;
}

.trial-btn button {
    background-color: #00acee;
    padding: 15px 50px 15px 50px;
    width: 480px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
}

footer .flex-footer {
    display: flex;
    justify-content: space-between;
    background-color: #d7f5f5;
    padding: 20px 150px 20px 150px;
    align-items: center;
    margin: 0;
    gap: 10px;
}

footer .flex-footer div {
    margin: 0;
    display: flex;
    gap: 10px;

}

footer .flex-footer div * {
    margin: 0;
}

footer .flex-footer>p {
    margin: 0;
    color: #3180f5;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}